:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --main-text-color: #212121;
    --secondary-text-color:#757575;
    --focus-color:  #2196F3;
    --standart-color: #fff;
    --team-bg-color: #F5F4FA; 
    --footer-bg-color: #2F303A;
    --footer-link-color: rgba(255, 255, 255, 0.6);
}
body {
    font-family: var(--main-font);
    color: var(--secondary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}
.link {
    text-decoration: none;
}
.list-all {
    list-style: none;
}
.address {
    font-style: none;
}

.visually-hidden {
    position: absolute; !important;
    clip: rect (1px, 1px, 1px, 1px);
    clip: rect (1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
}
.section {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
}
.logo {
    width: 145px;
    height: 31px;
    left: 215px;
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--focus-color );
    }
.logo-dark-theme {
    top: 2157px;
    color: var(--standart-color)
    margin-bottom: 20px;
}
.logo-light-theme {
    top: 24px;
    color:var(--main-text-color);
    margin-right: 93px;
}
/*===========Header================ */
.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border: 1px solid #ECECEC;
}
.header .container {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
}
.list {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.header-bg {
    background: var(--standart-color)
}
.header-link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--main-text-color);
}
.navigation-item:not(:last-child) {
    padding-right: 50px;
}
.contact-link {
    color: var(--secondary-text-color)
    ;
}
.contact-link:hover,
.contact-link:focus {
    color:var(--focus-color ) ;
}

.im-here:hover,
.im-here:focus {
    color: var(--focus-color );
}
.im-here:active {
    color: var(--focus-color );
}
.current {
    color: var(--focus-color );
}
/*===========End Header================ */

/*===========Hero================ */
.hero-bg {
    background: var(--footer-bg-color);
    padding-bottom: 200px;
}
.hero-container {
    width: 1200px;
    margin: 0 auto;
}
.hero-title {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--standart-color);
    display: flex;
    align-items: center;
    padding-top: 200px;
    padding-right: 452px;
    padding-left: 452px;
    padding-bottom: 30px;
    }
.main-button {
    min-width: 200px;
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--standart-color);
    backgroun: var(--focus-color );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;
}
.main-button:hover,
.main-button:focus {
    background-color: var(--focus-color);
}
/*===========End Hero================ */

/*===========About================ */
.about-container {
    display: flex;
    align-items: center;
}
.about-link:not(:last-child) {
    padding-right: 30px;
}
.about1 {
    width: 370px;
    height: 294px;
    background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
    mix-blend-mode: normal;
}
.about2 {
    width: 370px;
    height: 294px;
    background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
    }
.about3 {
    width: 370px;
    height: 294px;
    background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
    }
/*===========End About================ */

/*===========Our team================ */
.team-container {
    display: flex;
    align-items: center;
}
.team-container {
    display: flex;
    align-items: center;
    margin-top: -50px;
    margin-left: -30px;
}
.team-set {
    margin-top: 50px;
    margin-left: 30px;
    flex-basis: calc((100% - 120px)/4);
}
.our-team-bg {
    background-color: var(--team-bg-color)
}
.team-mate {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-top: 30px;
    margin-bottom: 10px;
}
.job-position {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 30px;
}
.card {
    width: 270px;
    height: 368px;
    background: var(--standart-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.ihor {
    width: 270px;
    height: 260px;
    background: url(4853.jpg);
    border-radius: 0px;
}
.olha {
    width: 270px;
    height: 260px;
    background: url(5844.jpg);
    border-radius: 0px;
}
.nikolaj {
    width: 270px;
    height: 260px;
    background: url(16166.jpg);
    border-radius: 0px;
}
.michele {
    width: 270px;
    height: 260px;
    background: url(2968.jpg);
    border-radius: 0px;
}
/*===========End Our team================ */

/*===========Work gallery================ */
.main-container {
    width: 1200px;
    margin: 0 auto;
}
.main-set {
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    padding-top: 100px;
    padding-left: 517px;
    padding-right: 516px;
    margin-bottom: 56px;
}
.main-set:not(:last-child) {
    padding-right: 30px;
}
.work-content-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
}
.buttom-bg {
    background: var(--standart-color);
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}
.portfolio-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--main-text-color);
    background-color: var(--team-bg-color);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--focus-color );
    color: var(--standart-color);
}
.works-set {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-top: -30px;
    margin-left: -30px;
}
.works-item {
    margin-top: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
    margin-top: 30px;
    margin-left: 30px;
}
.work1 {
    width: 370px;
    height: 294px;
    background: url(portfolio1.jpg);
}
.work2 {
    width: 370px;
    height: 294px;
    background: url(portfolio2.jpg);
}
.work3 {
    width: 370px;
    height: 294px;
    background: url(portfolio-1.jpg);
}
.work4 {
    width: 370px;
    height: 294px;
    background: url(portfolio-2.jpg);
}
.work5 {
    width: 370px;
    height: 294px;
    background: url(portfolio5.jpg);
}
.work6 {
    width: 370px;
    height: 294px;
    background: url(111.jpg);
}
.work7 {
    width: 370px;
    height: 294px;
    background: url(portfolio7.jpg);
}
.work8 {
    width: 370px;
    height: 294px;
    background: url(portfolio8.jpg);
}
.work9 {
    width: 370px;
    height: 294px;
    background: url(2910404.jpg);
}

.project-name {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:var(--main-text-color);
}
.project-explanation {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    }
/*===========Work gallery================ */

/*===========Advantages section================ */

.adv-set {
    display: flex;
    flex-wrap:nowrap;
    margin-top: -10px;
    margin-left: -30px;
}
.advantage-items {
    margin-top: 10px;
    margin-left: 30px;
    flex-basis: calc((100% - 40px)/4);
}
.advantage-name {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-text-color);
}
.advantage-explanation {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/*===========End Advantages section================ */

.body-title {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

/*===========Footer================ */
.footer-bg {
    width: 1600px;
    height: 252px;
    background: var(--footer-bg-color)
}
.footer {
    padding-top: 60px;
    padding-left: 215px;
    padding-bottom: 60px;
    padding-right: 1154px;
}
.addres-font {
    font-style: normal;
}
.marg {
    margin-bottom: 9px;
}
.physical-adress {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--standart-color);
}
.mail-adress {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-link-color)
}
.phone-number {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-link-color)
}
/*===========End Footer================ */

